# Ignorar todos los archivos .class generados por Java
*.class

# Ignorar todas las carpetas 'target' o 'bin' donde se suelen generar archivos compilados
/target/
/bin/

# Otras configuraciones adicionales que puedas necesitar
*.log
*.tmp
*.swp